@using AspNetCoreMVC.Authorization
@model IEnumerable<AspNetCoreMVC.Models.Schedule>

@{
    ViewData["Title"] = "Schedule";
    bool isAdminOrManager = User.IsInRole(Constants.ScheduleAdministratorsRole) ||
        User.IsInRole(Constants.ScheduleManagersRole);
}

<h1>Schedule</h1>

<div class="d-flex gap-4">
    <a asp-action="Create">Create New</a>
    <a asp-action="Calendar">Calendar View</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-body text-decoration-none" asp-action="Index" asp-route-sort="@ViewBag.UserSort">@Html.DisplayNameFor(model => model.User.UserName)</a>
            </th>
            <th>
                <a class="text-body text-decoration-none" asp-action="Index" asp-route-sort="@ViewBag.DateSort">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                @{
                    bool isOwner = item.OwnerId == @ViewBag.UserId;
                }

                @if (isAdminOrManager || isOwner)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
                    </td>
                }
            
            </tr>
    }

    </tbody>
</table>
